<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iop-rest-client-framework.ZPM">
    <Module>
      <Name>iop-rest-client-framework</Name>
      <Description>REST client framework for Interoperability on Python</Description>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
          <Version>3.1.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <SystemRequirements Version=">=2021.2" Interoperability="enabled" />
      <FileCopy Name="src/python/iop_rest" Target="${libdir}python/iop_rest"/>
    </Module>
  </Document>
</Export>
